/*! Copyright Hazyzh All rights reserved. */
h1,
h3,
h4 {
  margin: 20px 0px;
}
p {
  margin: 10px 0px;
}
pre {
  padding: 10px;
}
.aside-box {
  padding: 50px;
}
.aside-box .chat-box {
  margin-top: 10px;
}
.aside-box p {
  text-indent: 0px !important;
  font-weight: 500;
}
.aside-box .ant-card-bordered {
  border: none;
}
#content img {
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 2px #eee;
          box-shadow: 0px 0px 2px #eee;
}
#content pre {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAACVBMVEWAgIBaWlo+Pj7rTFvWAAAAA3RSTlMHCAw+VhR4AAAA+klEQVQoz4WSMW7EQAhFPxKWNh2FCx+HkaZI6RRb5DYbyVfIJXLKDCFoMbaTKSw/8ZnPAPjaH2xgZcUNUDADD7D9LtDBCLZ45fbkvo/30K8yeI64pPwl6znd/3n/Oe93P3ho9qeh72btTFzqkz0rsJle8Zr81OLEwZ1dv/713uWqvu2pl+k0fy7MWtj9r/tN5q/02z89qa/L4Dc2LvM93kezPfXlME/O86EbY/V9GB9ePX8G1/6W+/9h1dq/HGfTfzT3j/xNo7522Bfnqe5jO/fvhVthlfk434v3iO9zG/UOphyPeinPl1J8Gtaa7xPTa/Dk+RIs4deMvwGvcGsmsCvJ0AAAAABJRU5ErkJggg==') #F6F6F6;
  padding: 20px;
  margin: 10px 0px;
  font-size: 16px;
  overflow: auto;
  font-weight: 300;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}
#content p {
  font-size: 14px;
  line-height: 1.6em;
  text-indent: 2em;
}
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  color: #00a2ae;
  margin: 1.6em 0;
}
#content h2:before,
#content h3:before,
#content h4:before,
#content h5:before,
#content h6:before {
  content: " ";
  display: inline-block;
  vertical-align: bottom;
  width: 5px;
  height: 2em;
  background: #a7dfe3;
  margin-right: 20px;
}
#content ul,
#content li {
  list-style: circle;
}
#content ul {
  margin-left: 2em;
}
.talk-container {
  height: 300px;
  overflow-y: auto;
  padding-left: 10px;
}
.talk-container .my-talk {
  text-align: right;
}
.talk-container .my-talk .time {
  margin-right: 10px;
}
.talk-container .my-talk p {
  margin-right: 2em;
}
.talk-container p {
  margin: 0px 20px 3px 20px;
  text-indent: 0px !important;
  padding: 0px;
  font-weight: 300;
  color: #919191;
  letter-spacing: 0;
}
.talk-container .name {
  font-size: 14px;
  font-weight: bold;
}
.talk-container .time {
  color: #bfbfbf;
  font-size: 12px;
}
.people-number {
  text-align: right;
  margin-right: 30px;
  color: #eee;
  font-size: 12px;
  margin-top: -30px;
}
.people-number span {
  color: #a7dfe3;
}
.comment-box {
  margin-top: 20px;
  background: #f5f5f5;
  padding: 5px 10px;
  border: 1px solid #eee;
  margin-bottom: 100px;
}
.comment-box .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.comment-box .out-put {
  border-radius: 5px;
  background: #fff;
  height: 150px;
  overflow-y: auto;
}
#content .login-type {
  line-height: 30px;
}
#content .login-type img {
  padding: 0px;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
#content .login-type a {
  position: relative;
  z-index: 100;
  display: inline-block;
}
#content .comment-content {
  background: #fff;
  margin-top: 20px;
  padding: 10px;
}
#content .comment-content img {
  padding: 0px;
}
#content .comment-content .info {
  margin-top: 20px;
}
#content .comment-content .info .inner-comment {
  cursor: pointer;
  padding-left: 40px;
  color: #76cdd3;
  letter-spacing: 2px;
}
#content .comment-content .info .inner-delete {
  cursor: pointer;
  padding-left: 10px;
  color: #f46e65;
  letter-spacing: 2px;
}
#content .comment-content .time {
  display: block;
  color: #d9d9d9;
}
#content .userComment {
  background: #f7f7f7;
}
#content .userComment .content {
  margin-right: 20px;
}
#content .userComment .info-one {
  background: #fff;
  border-bottom: 1px solid #fff;
  line-height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  margin-top: 8px;
}
#content .userComment .time {
  margin-left: 20px;
  font-size: 12px;
  color: #d9d9d9;
}
#content .userComment .inner-delete {
  cursor: pointer;
  padding-left: 10px;
  color: #f46e65;
  letter-spacing: 2px;
}
#content .user-form {
  margin-top: 30px;
}
#content .user-form .btn {
  text-align: center;
}
